footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 50px;
    font-size: 13px;
    text-align: right;
    vertical-align: middle;
    color:brown;
    background-color: bisque;
}

.darkMode footer{
    background-color: midnightblue;
    color: #ddd;
}

.enableTransition footer{
    transition: 1s;
}