footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 30px;
    color:brown;
    background-color: bisque;
}

footer p{
    text-align: right;
    font-size: 12px;
    padding-top: 5px;
    padding-right: 10px;
}

.darkMode footer{
    background-color: midnightblue;
    color: #ddd;
}

.enableTransition footer{
    transition: 1s;
}