/*---------------*/
/*ダークモード設定*/
/*---------------*/
.darkMode header h1{
    color: white;
}

/*--------*/
/*ヘッダー*/
/*--------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color:brown;
    background-color: bisque;
    overflow: hidden;
    transition: none;
}

.enableTransition header{
    transition: 1s;
}

header h1{
    vertical-align: middle;
    margin-top: auto;
    margin-left:  10px;
    border-left:   0px;
    border-bottom: 0px;
    text-align: center;
    font-weight:   900;
    font-size: clamp(16px,7vw,35px);
    
    color:chocolate;
    float: right;
}

#myIcon{
    width:  48px;
    height: 48px;
    background-image: url(./../image/icon/myIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#headerLogoAndTitle{
    display: flex;
    float:   left;
    vertical-align: middle;
}

#headerUniqueButton{
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    cursor: pointer;
}

.darkMode{
    background-color: black;
    color: silver;
}

.darkMode header{
    background-color: #222;
    color: #ddd;
}

#headerBannerImage{
    border-top:    solid 5px #ccc;
    border-bottom: solid 5px #ccc;
    background-color: #fff;
}

#headerBannerImage img{
    display:    block;
    margin:     auto;
    max-width:  500px;
    width:      100%;
    height:     auto;
}

#languageSelector select{
    height: 34px;
    width:  95px;
    padding-left: 5px;
    border: 2px solid black;
    border-radius: 100px;
    color: black;
    
    /*標準の矢印を消す*/
    -webkit-appearance: none;
    appearance: none;
    
    /*オリジナルの矢印にする*/
    background-image: url(./../image/icon/dropDownArrow_light.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.enableTransition #languageSelector select{
    transition: border 0.8s;
}

.darkMode #languageSelector select{
    border: 2px double white;
    background-image: url(./../image/icon/dropDownArrow_night.svg);
}

/*--------------------*/
/*　カラーテーマ切り替え  */
/*--------------------*/

#colorThemeToggleButton{
    z-index: 0;
    position: relative;
    display: block;
    width:  68px;
    height: 34px;
    border: 2px solid black;
    border-radius: 100px;
    background-image: linear-gradient(90deg, wheat, darkorange);
    cursor: pointer;
    transition: none;
}

.enableTransition #colorThemeToggleButton{
    transition: 0.3s;
    transition: border 0.8s;
}

#colorThemeToggleButton::after{
    content: url(./../image/icon/lightMode.svg);
    padding-top: 4px;
    position: absolute;
    top:    50%;
    left:    5px;
    width:  24px;
    height: 20px;
    border-radius: 100px;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1);
    transition: none;
}

.enableTransition #colorThemeToggleButton::after{
    transition: 0.3s;
}

#colorThemeToggleButton.is-night{
    border: 2px solid white;
    background-image: linear-gradient(90deg, mediumpurple, blue);
    background-color:mediumpurple;
}

#colorThemeToggleButton.is-night::after{
    content: url(./../image/icon/nightMode.svg);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 1);
    left: calc(100% - 30px);
}

/*-------------*/
/*　　 ボタン　　*/
/*-------------*/
div #headerPageJumpButtons{
    border-top:    solid 5px #ccc;
    list-style-type:none;
    justify-content: space-evenly;
    display: flex;
}

#headerPageJumpButtons button{
    box-shadow: none;
    border: none;
    width: 100%;
    height: 60px;
    background-color: lemonchiffon;
    transition: 0.5s;
    font-size: 14px;
}

#headerPageJumpButtons button+button{
    border-left: solid 5px #ccc;
}

.darkMode #headerPageJumpButtons button{
    background-color: powderblue;
}

#headerPageJumpButtons button:hover{
    font-weight: bold;
    background-color:peachpuff;
}

.darkMode #headerPageJumpButtons button:hover{
    font-weight: bold;
    background-color: lightskyblue;
}