@charset "UTF-8";

/*Mixed Contentになるため、変更*/
/*@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP);
@import url("./header.css");
@import url("./footer.css");
@import url("./twitter.css");
@import url("./animation.css");

/*リセットCSS*/
*{
    margin: 0;
    padding: 0;
}

/* *,*:before,*:after {
    outline: 2px solid red!important;
} */

/*-----------*/
/*汎用タグ設定*/
/*-----------*/
html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;

    /*ブレンド*/
    transition: opacity 1s ease;
    opacity: 1;
}

body *{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

body.enableTransition{
    transition: 1s;
}

body.darkMode body.preload{
    background-color: black;
}

h1{
    font-size: 20px;
    color: chocolate;
    transition: none;
    border-left: solid 5px chocolate;
    border-bottom: solid 3px gray;
    overflow-x: hidden;
    max-width: 100%;
}

.darkMode h1{
    color: white;
}

.enableTransition h1{
    transition: 1s;
}

p{
    overflow: hidden;
    white-space: pre-line;  /*『/n』での改行OK*/
    transition: none;
}

#mainWrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    max-width: 980px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;      /*はみ出さないようにする*/
    margin: 0px auto;
}

.darkMode p{
    overflow: hidden;
}

.enableTransition p{
    transition: 0s; /*←なんで？？？*/
}

/*Chromeでのtransitionバグ対策*/
.preload *{
    transition: 0 !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body.preload{
    opacity: 0;
}