@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url("./header.css");
@import url("./footer.css");
@import url("./twitter.css");

/*リセットCSS*/
*{
    margin: 0;
    padding: 0;
}

/*-----------*/
/*汎用タグ設定*/
/*-----------*/
html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
    transition: none;
}

body *{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
}

body.enableTransition {
    transition: background-color 1s;
}

h1{
    font-size: 20px;
    color: chocolate;
    transition: none;
}

.darkMode h1{
    color: white;
}

.enableTransition h1{
    transition: 1s;
}

p{
    overflow: hidden;
    white-space: pre-line;  /*『/n』での改行OK*/
    transition: none;
}

#mainWrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 980px;
    margin: 0 auto;
}

.darkMode p{
    overflow: hidden;
}

.enableTransition p{
    transition: 1s;
}

/*Chromeでのtransitionバグ対策*/
.preload *{
    transition: 0 !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}