main{
    border-left: solid 5px #ccc;
}

main h1{
    margin-top:   5px;
    margin-left:  5px;
    padding-left: 6px;
    font-size:   26px;
    height:      50px;
    line-height: 50px;
    background-color: bisque;
    color: chocolate;
    transition: none;
}

main p{
    margin-left: 20px;
}

.darkMode main h1{
    background-color: #222;
}

#topPageSlideShow{
    width: 100%;
    overflow: hidden;
}

#topPageSlideShow:hover{
    animation-play-state: paused;
}

#topPageSlideShow ul{
    display: flex;
    width: 100%;
    animation: slideShowFromRtoL 20s linear infinite;
}

#topPageSlideShow li{
    flex: 0 0 25%;
    width: 100%;
    list-style-type: none;
}

article{
    margin-top: 15px;
    margin-left: 5px;
    background-color: white;
    transition: background-color 1s;
}

.darkMode article{
    background-color: #222;
}

article{
    border: solid  2px;
    border-radius: 10px;
    overflow: hidden;
}

article h1{
    margin-top:  0px;
    margin-left: 0px;
    border-left: 0px;
    border-bottom: solid 3px black;
}

.darkMode article h1{
    border-bottom: solid 3px #BBB;
}

#owapoteNews{
    display: flex;
    flex-flow: column;
    height:270px;
    overflow-y: scroll;
}

#owapoteNews img{
    height:60px;
    width:60px;
    padding-right: 10px;
}

#owapoteNews a{
    margin-left: 0px;
    text-decoration: none;
    color: black;
}

.darkMode #owapoteNews a{
    color:white;
}

.owapoteNewsContent{
}

.owapoteNewsContent + .owapoteNewsContent{
    border-top: solid 1px chocolate;
}

.darkMode .owapoteNewsContent + .owapoteNewsContent{
    border-top: solid 1px #BBB;
}

.owapoteNewsContent:nth-of-type(2n){
    background-color:antiquewhite;
}

.enableTransition .owapoteNewsContent{
    transition: 1s;
}

.darkMode .owapoteNewsContent{
    background-color: #222;
}

.owapoteNewsContentBackGround{
    display: flex;
    align-items: center;
    padding-left:   10px;
    padding-top:    15px;
    padding-bottom: 15px;
    background-color:lemonchiffon;
    transition: background-color 1.0s;
}

.darkMode .owapoteNewsContentBackGround{
    background-color: #333;
}