#twitterButton{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    width: 150px;
    height: 25px;
    border: 4px solid #55acee;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
    transition: none;
    text-align:right;
    align-items: center;
    text-decoration: none;
}

#twitterButton img{
    height: 36px;
    margin-left: -10px;
    border-radius: 100px;
    transform: rotate(-5deg);
    pointer-events: none;
}

#twitterButton span{
    font-size: 14px;
    font-weight:bold;
    margin-left: 2px;
    color: black;
    display: inline-block;
    text-decoration: none;
}

#twitterShareButton{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    width: 150px;
    height: 30px;
    border: 4px solid #55acee;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
    transition: none;
    text-align:right;
    align-items: center;
    
}

/*シェアする！ボタン*/
footer #twitterShareButton{
    margin-bottom: 18px;
    width: 132px;
    height: 25px;
    text-decoration: none;
}

#twitterShareButton img{
    height: 36px;
    margin-left: -10px;
    border-radius: 100px;
    transform: rotate(-5deg);
    pointer-events: none;
}

#twitterShareButton span{
    font-size: 14px;
    font-weight:bold;
    margin-left: 2px;
    color: black;
}