#node_module
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

#vite
dist/
.vite/
node_modules/.vite/

#env
.env
.env.*.local

#publish
publish/
js/

#dust
.DS_Store
.vscode/*
!.vscode/extensions.json
