<div class="content">
    <h1 id="welcomeText"></h1>
    <p>owapoteについて解説をしています</p>

    <h1 id="youtubeShortsGeoguessrText"></h1>
    <div id="topPageSlideShow">
        <ul>
            <li v-for="n in 10">
                今、結月ゆかり(雫)GeoGuessrがアツい！
            </li>
        </ul>
    </div>
    <script>
        Vue.createApp({}).mount("#topPageSlideShow");
    </script>
    <div id="youtubeShortsGeoGuessrContents"></div>

    <article>
        <h1  id="recentTopicsText"></h1>
        <section id="owapoteNews">
            <div v-for="(item, index) in owapoteNews" :key="index">
                <a v-bind:href="item.url" class="owapoteNewsContent">
                    <section class="owapoteNewsContentBackGround">
                        <img v-bind:src="item.imagePath">
                        <section>
                            <h2>{{item.title[language]}}</h2>
                            <p>{{item.description[language]}}</p>
                        </section>
                    </section>
                </a>
            </div>
        </section>
    </article>
</div>