main{
    border-left: solid 5px #ccc;
}

main h1{
    margin-top:   5px;
    margin-left:  5px;
    padding-left: 6px;
    font-size:   clamp(20px,5vw,32px);
    /* height:      clamp(30px,8vw,48px);
    line-height: clamp(30px,8vw,45px); */
    background-color: bisque;
    color: chocolate;
    transition: none;
}

main p{
    margin-left: 20px;
}

.nightMode main h1{
    background-color: #222;
}